##
##     ________  ________  _____    _____   __
##    /  _/ __ \/ ____/ / / /   |  /  _/ | / /
##    / // / / / /   / /_/ / /| |  / //  |/ /
##  _/ // /_/ / /___/ __  / ___ |_/ // /|  /
## /___/_____/\____/_/ /_/_/  |_/___/_/ |_/
##
##
## ----> Schema Extensions
##
## Please copy this file into a new file with name .env,
## and adjust the following variables to match your environment
## ↓↓↓↓

## ------------------------------------------------------------------------------------
## Schema API IP
##
## ↓↓↓↓-------------------------------------------------------------------------------

IDC_SCHEMA_IP=0.0.0.0

## ------------------------------------------------------------------------------------
## Schema API PORT
##
## ↓↓↓↓-------------------------------------------------------------------------------

IDC_SCHEMA_PORT=9000